.advantages-list {
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;

    margin-bottom: 10px;

    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }

  &__item {
    &:not(:last-child) {
      @media screen and (max-width: 767px) {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: 768px) {
      width: calc((100% - 4 * 15px) / 2);
      margin: 15px;
      display: flex;
      flex-direction: column;
    }

    @media screen and (min-width: 1200px) {
      display: flex;
      flex-wrap: wrap;
      width: calc((100% - 8 * 15px) / 4);
      margin: 15px;
    }
  }

  @media screen and (min-width: 768px) {
    advanture-list__content {
      flex-grow: 1;
    }
  }

  &__text {
    color: $grey-text;
  }

  &__image {
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 4px;
    background-color: $background-light;
    margin-bottom: 30px;

    @media screen and (max-width: 767px) {
      height: 120px;
      width: 100%;
    }

    @media screen and (min-width: 768px) {
      height: 120px;
      width: 100%;
    }
  }
}
