$black-text: #212121;
$grey-text: #757575;
$grey-text-op60: #ffffff99;
$white-text: #FFFFFF;
$blue-text: #2196F3;
$background-main: #FFFFFF;
$background-dark: #2F303A; 
$background-light: #F5F4FA;  
$background-backdrop: rgba(0, 0, 0, 0.2);
$card-set-gap: 30px;
$border-grey: #EEEEEE;
$grey-icon: #AFB1B8;
$footer-back-icon: rgba(255, 255, 255, 0.1);  
$form-btn-hover: #188CE8;
$overlay-color: rgba(33, 150, 243, 0.9);
$placeholder-comment-color: rgba(117, 117, 117, 0.5);
$placeholder-footer-color: rgba(255, 255, 255, 0.6);
$footer-input-border: rgba(255, 255, 255, 0.3);
$form-input-border: rgba(33, 33, 33, 0.2);
$header-border: #ECECEC;